html
    head
        title New User
        link(rel="stylesheet", href="/styles.css")
    body
        div(class="container")
            div(class="main")
                h1 New User List
                form(action="/createUser", method="POST")
                    div
                        label(for="username") username:
                        input(id="username", name="username")
                    div
                        label(for="name") name:
                        input(id="name", name="name")
                    div
                        label(for="email") email:
                        input(id="email", name="email")
                    div
                        label(for="age") age:
                        input(id="age", name="age")
                    div
                        button(type="submit") Add User
                        button(type="button", onclick="window.location.href='/userList'") View users