@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;700&display=swap');

body {
    background-color: #000;
    font-family: 'Inconsolata', monospace;
}

main {
    color: #00ff41;
    margin: 0 auto;
    border: 2px solid #00ff41;
    border-radius: 2em;
}

table {
    border-collapse: collapse;
}
th {
    text-align: center;
}
td {
    margin: 0;
}

button {
    background-color: blue;
    color: aliceblue;
    border-radius: 1em;
    width: 5vw;
}