@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;700&display=swap');

body {
    background-color: #000;
    font-family: 'Inconsolata', monospace;
    color: #00ff41;
}

.container {
    padding: 2em;
    margin: 0 auto;
    display: flex;
    width: auto;
}

.main {
    padding: 2em;
    color: #00ff41;
    margin: 0 auto;
    border: 2px solid #00ff41;
    border-radius: 0.5em;
}

input {
    width: 100%;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
}
tbody, th, tr, td {
    border: #00ff41 2px solid;
}

tr:hover, button:hover {
    background-color: #dedede;
    color: #000000;
}

th {
    text-align: center;
}
td {
    padding: 0 1em 0 1em;
    margin: 0;
}

button {
    background-color: #00ff41;
    color: #000;
    border-radius: 0.25em;
    width: auto;
    cursor: pointer;
}